@use "styles/backgrounds" as *;
@use "styles/mixins" as *;

:host {
  display: flex;
  flex: 1;
  width: 100%;
}

.auth-card {
  @include liquidGlass;
  @include flexColumn;
  
  gap: 20px;
  width: min(100%, 420px);
  padding: 20px;
  border-radius: 20px;
}

.p-tablist {
  --p-tabs-tablist-background: none;
}

.auth-tabs {
  
  .p-tab {
    flex: 1 1 0;
    justify-content: center;
  }
}
