@use "styles/mixins" as *;

.update-profile-form {
  @include flexColumn;
  
  gap: 20px;
}

.form-inputs {
  display: grid;
  grid-template-columns: fit-content(100%) 1fr;
  gap: 10px;
  align-items: center;
}

.form-actions {
  @include flexAlignCenter;
  
  gap: 20px;
  width: 100%;
  
  .form-btn {
    flex: 1;
  }
}