<div class="theme-toggle" [title]="'Переключить тему'">
  <input 
    type="checkbox" 
    id="theme-toggle" 
    [checked]="isDarkTheme()" 
    (change)="toggleTheme()">
  
  <label for="theme-toggle" class="theme-toggle__control">
    <div class="theme-toggle__thumb">
      @if (!isDarkTheme()) {
        <span class="theme-toggle__icon theme-toggle__icon--sun">
          <app-icon
            [name]="'sun'"
            [size]="16" />
        </span>
      } @else {
        <span class="theme-toggle__icon theme-toggle__icon--moon">
          <app-icon
            class="text-yellow-500"
            [name]="'moon'"
            [size]="16" />
        </span>
      }
    </div>
  </label>
</div>
