<div class="mb-3 flex justify-center">
  <div id="toggle-count" class="border-base-content/20 flex gap-0.5 rounded-field border p-0.5">
    <label for="toggle-count-monthly" class="btn btn-sm btn-text has-checked:btn-active">
      <span>Monthly</span>
      <input id="toggle-count-monthly" name="toggle-count" type="radio" class="hidden" checked="" />
    </label>
    <label for="toggle-count-annual" class="btn btn-sm btn-text has-checked:btn-active">
      <span>Annually</span>
      <input id="toggle-count-annual" name="toggle-count" type="radio" class="hidden" />
    </label>
  </div>
</div>