@font-face {
  font-family: 'Nunito';
  src: url("/fonts/Nunito/Nunito-VariableFont_wght.ttf") format('ttp');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url("/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf") format('ttp');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}