@use "styles/mixins" as *;

:host {
  height: 100%;
  flex: 1;
  width: 100%;
}

.register-layout {
  @include flexColumn;
  
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  gap: 150px;
  flex: 1;
  
  &__brand {
    font-size: 50px;
    text-align: center;
    
    &-link {
      text-transform: uppercase;
      font-weight: 900;
    }
  }
}