<section class="auth-layout ">
  <div class="auth-layout__content">
    <section class="auth-layout__promo">
      <p class="auth-layout__brand gradient-text uppercase">Task Space</p>

      <h1 class="auth-layout__title">
        Организуйте задачи без хаоса.
      </h1>

      <div class="auth-layout__features">
        <article class="auth-layout__feature">
          <strong>Планируйте задачи</strong>
          <span>Создавайте задачи и устанавливайте приоритеты</span>
        </article>

        <article class="auth-layout__feature">
          <strong>Работайте в команде</strong>
          <span>Отслеживайте прогресс вместе</span>
        </article>

        <article class="auth-layout__feature">
          <strong>Следите за результатом</strong>
          <span>Видьте, как проекты движутся вперед</span>
        </article>
      </div>
    </section>

    <section class="auth-layout__panel">
      <ng-content />
    </section>
  </div>
</section>