<label class="label" [for]="id()">
  <span class="label-text">{{ label() }}</span>

  <input
    class="input"
    [id]="id()"
    [type]="type()"
    [placeholder]="placeholder()"
    [autocomplete]="autocomplete()"
    [formField]="field()"
    [attr.aria-invalid]="errorMessage() ? true : null"
    [attr.aria-describedby]="errorMessage() ? id() + '-error' : null" />

  @if (errorMessage(); as error) {
    <span [id]="id() + '-error'" class="error-message">
      {{ error }}
    </span>
  }
</label>
