<p-floatlabel variant="on">

  @if (type() === 'text') {
    <p-iconfield>
      <input
        pInputText
        class="input"
        [pSize]="size()"
        [class.p-invalid]="showError()"
        [id]="id()"
        [type]="type()"
        [formField]="field()"
        [autocomplete]="'off'"
        [attr.aria-invalid]="showError()"
        [attr.aria-describedby]="showError() ? id() + '-error' : null"
      />

      @if (value() && clear()) {
        <p-inputicon
          role="button"
          tabindex="0"
          [attr.aria-label]="'Удалить текст'"
          title="Удалить текст"
          (click)="clearValue()" 
          style="cursor: pointer">
          <app-icon name="close" [size]="16" />
        </p-inputicon>
      }
    </p-iconfield>
  }

  @if (type() === 'password') {
    <p-iconfield>
      <input
        pInputText
        class="input"
        [pSize]="size()"
        [class.p-invalid]="showError()"
        [id]="id()"
        [type]="passwordInputType()"
        [formField]="field()"
        [autocomplete]="autocomplete()"
        [attr.aria-invalid]="showError()"
        [attr.aria-describedby]="showError() ? id() + '-error' : null"
      />

      <p-inputicon
        role="button"
        tabindex="0"
        [attr.aria-label]="mask() ? 'Показать пароль' : 'Скрыть пароль'"
        [title]="mask() ? 'Показать пароль' : 'Скрыть пароль'"
        (click)="toggleMask()"
        (keydown.enter)="toggleMask()"
        (keydown.space)="toggleMask()"
        style="cursor: pointer"
      >
        <app-icon [name]="mask() ? 'show' : 'hide'" [size]="16" />
      </p-inputicon>
    </p-iconfield>
  }


  <label [for]="id()">{{ label() }}</label>
</p-floatlabel>

@if (showError()) {
  <p-message
    styleClass="input-error-message"
    [attr.id]="id() + '-error'"
    severity="error"
    variant="simple"
    size="small">
    {{ errorMessage() }}
  </p-message>
}
