@use "styles/mixins" as *;
@use "styles/backgrounds" as *;


:host {
  position: sticky;
  left: 0;
  top: 10px;
  z-index: 100;
}

.brand {
  @include flexAlignCenter;

  gap: 10px;

  &__title {
    font-weight: 900;
    font-size: 22px;
  }
}

.p-toolbar-end {
  gap: 20px;
}

.sidebar-open {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}