<header class="header dark:bg-surface-800/30">
  <div class="container">
    <div class="header__inner">

      <a routerLink="/" class="header__brand">
        <img ngSrc="/images/logo/logo.svg" alt="Логотип компании" width="50" height="50">
        <span class="uppercase header__brand-title">Task Space</span>
      </a>
      
      <div class="header__user">
        <app-theme-toggle />

<!--        <button class="header__user-icon" routerLink="/user">-->
<!--          <app-icon [name]="'user'" [size]="25" />-->
<!--        </button>-->
      </div>
    </div>
  </div>
</header>
