<p-toolbar
  [pt]="headerPt"
  [style]="headerStyle">
  <ng-template #start>
    <a routerLink="/" class="brand">
      <img ngSrc="/images/logo/logo.svg" alt="Логотип компании" width="40" height="40">
      <span class="uppercase brand__title">Task Space</span>
    </a>
  </ng-template>
  <ng-template
    #end>
    <app-theme-toggle
      [isDarkTheme]="isDarkTheme()"
      (themeToggled)="onThemeToggled()" />

    @if (isAuthenticated()) {
      <p-overlay-badge
        value="2"
        badgeSize="small"
        severity="success">
        <p-avatar
          shape="circle"
          size="large"
          [style]="{
          'cursor': 'pointer'
        }"
          (click)="userSettings.toggle($event)"
          [label]="userLabel() ?? ''" />
      </p-overlay-badge>

      <p-menu #userSettings [model]="items" [popup]="true" />

      <button
        type="button"
        class="sidebar-open"
        pButton
        size="large"
        severity="contrast"
        (click)="openSidebar()"
        aria-label="Открыть меню"
        title="Открыть меню">
        <app-icon [name]="'menu'" [size]="16" />
      </button>
    }
  </ng-template>
</p-toolbar>
