@use "styles/mixins" as *;
@use "styles/backgrounds" as *;

:host {
  padding: 10px;
}


.brand {
  @include flexAlignCenter;

  gap: 10px;

  &__title {
    font-weight: 900;
    font-size: 22px;
  }
}

.p-toolbar-end {
  gap: 20px;
}