<form class="cnahge-password-form">
  <fieldset class="form-inputs">
    <p>Текущий пароль:</p>
    <app-input-string
      [id]="'current-password'"
      [field]="changePasswordForm.currentPassword"
      [type]="'password'"
    />

    <p>Новый пароль:</p>
    <app-input-string
      [id]="'new-password'"
      [field]="changePasswordForm.newPassword"
      [type]="'password'"
    />

    <p>Повторите новый пароль:</p>
    <app-input-string
      [id]="'repeat-new-password'"
      [field]="changePasswordForm.repeatNewPassword"
      [type]="'password'"
    />
  </fieldset>
  <fieldset class="form-actions">
    <button
      type="submit"
      class="submit-btn form-btn"
      pButton
      raised
      severity="contrast"
      title="Сохранить изменения">
      Изменить пароль
    </button>
    <button
      type="reset"
      class="reset-btn form-btn"
      pButton
      raised
      severity="danger"
      title="Отменить изменения">Сбросить изменения
    </button>
  </fieldset>
</form>
