<form class="register-form" (submit)="onSubmit($event)">
  <fieldset class="register-inputs">
    <app-input-string
      [id]="'register-name'"
      [label]="'Имя'"
      [placeholder]="'Введите имя'"
      [autocomplete]="'username'"
      [field]="registerForm.name"
      [submitted]="submitted()" />
    
    <app-input-string
      [id]="'register-email'"
      [label]="'E-mail'"
      [placeholder]="'Введите e-mail'"
      [autocomplete]="'email'"
      [field]="registerForm.email"
      [submitted]="submitted()" />

    <app-input-string
      [id]="'register-password'"
      [label]="'Пароль'"
      [type]="'password'"
      [placeholder]="'Введите пароль'"
      [autocomplete]="'new-password'"
      [field]="registerForm.password"
      [passwordShowControl]="true"
      [submitted]="submitted()" />

    <app-input-string
      [id]="'register-confirm-password'"
      [label]="'Повторите пароль'"
      [type]="'password'"
      [placeholder]="'Повторите пароль'"
      [autocomplete]="'new-password'"
      [field]="registerForm.confirmPassword"
      [passwordShowControl]="true"
      [submitted]="submitted()" />
  </fieldset>
  <fieldset class="submit-btn">
    <button
      type="submit"
      class="btn preset-filled-primary-500 w-full"
      [title]="'Зарегистрироваться'"
      [disabled]="registerForm().submitting() || registerForm().invalid()">Зарегистрироваться
    </button>
  </fieldset>
</form>