<form class="register-form dark:bg-surface-800/30" (submit)="onSubmit($event)">
  <fieldset class="register-inputs">
    <app-input-string
      [id]="'register-login'"
      [label]="'Логин'"
      [placeholder]="'Введите логин'"
      [autocomplete]="'username'"
      [field]="registerForm.login"
      [submitted]="submitted()" />

    <app-input-string
      [id]="'register-password'"
      [label]="'Пароль'"
      [placeholder]="'Введите пароль'"
      [autocomplete]="'new-password'"
      [field]="registerForm.password"
      [submitted]="submitted()" />

    <app-input-string
      [id]="'register-confirm-passworn'"
      [label]="'Повторите пароль'"
      [placeholder]="'Повторите пароль'"
      [autocomplete]="'new-password'"
      [field]="registerForm.confirmPassword"
      [submitted]="submitted()" />
  </fieldset>
  <fieldset class="">
    <button
      type="submit"
      class="btn preset-outlined-surface-300-700"
      [disabled]="registerForm().submitting()">Зарегистрироваться
    </button>
  </fieldset>
</form>