@use "styles/mixins" as *;

:host {
  width: 450px;
  display: block;
}

.register-form {
  @include flexColumn;
  border-radius: 10px;
  
  
  gap: 10px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  align-items: flex-end;
}

.register-inputs {
  @include flexColumn;
  
  gap: 10px;
  width: 100%;
}
