<form class="register-form" (submit)="onSubmit($event)">
  <fieldset class="register-inputs">
    <app-input-string
      [id]="'register-name'"
      [label]="'Имя'"
      [autocomplete]="'username'"
      [field]="registerForm.name"
      [clear]="true"
      [submitted]="submitted()" />

    <app-input-string
      [id]="'register-email'"
      [label]="'E-mail'"
      [autocomplete]="'email'"
      [field]="registerForm.email"
      [clear]="true"
      [submitted]="submitted()" />

    <app-input-string
      [id]="'register-password'"
      [label]="'Пароль'"
      [type]="'password'"
      [autocomplete]="'new-password'"
      [field]="registerForm.password"
      [submitted]="submitted()" />

    <app-input-string
      [id]="'register-confirm-password'"
      [label]="'Повторите пароль'"
      [type]="'password'"
      [autocomplete]="'new-password'"
      [field]="registerForm.confirmPassword"
      [submitted]="submitted()" />
  </fieldset>
  <fieldset class="form-actions">
    <button
      type="submit"
      class="submit-btn"
      pButton
      raised
      severity="contrast"
      title="Зарегистрироваться"
      [disabled]="loading()">
      @if (loading()) {
        Регистрация...
        <app-icon [name]="'loader'" class="animate-spin" />
      } @else {
        Зарегистрироваться
      }
    </button>
  </fieldset>
</form>