@use "styles/mixins" as *;

:host {
  display: block;
}

.register-form {
  @include flexColumn;
  
  gap: 20px;
}

.register-inputs {
  @include flexColumn;
  
  gap: 10px;
  width: 100%;
}

.form-actions {
  .submit-btn {
    width: 100%;
  }
}
