<form class="login-form" (submit)="onSubmit($event)">
  <fieldset class="login-inputs">
    <app-input-string
      [id]="'register-email'"
      [label]="'E-mail'"
      [placeholder]="'Введите e-mail'"
      [autocomplete]="'email'"
      [field]="loginForm.email"
      [submitted]="submitted()" />

    <app-input-string
      [id]="'register-password'"
      [label]="'Пароль'"
      [type]="'password'"
      [placeholder]="'Введите пароль'"
      [autocomplete]="'new-password'"
      [field]="loginForm.password"
      [passwordShowControl]="true"
      [submitted]="submitted()" />
  </fieldset>
  <fieldset class="submit-btn">
    <button
      type="submit"
      class="btn preset-filled-primary-500 w-full"
      [title]="'Войти'"
      [disabled]="loginForm().submitting() || loginForm().invalid()">Войти
    </button>
  </fieldset>
</form>