<section class="avatar">
  СИ
  <div class="avatar__actions">
    <p-button
      type="button"
      [style]="avatarActionStyle"
      class="flex items-center justify-center"
      severity="contrast"
      variant="outlined"
      title="Редактировать фото">
      <app-icon name="pen" [size]="25" style="color: white"/>
    </p-button>
    <p-button
      type="button"
      [style]="avatarActionStyle"
      class="flex items-center justify-center"
      severity="contrast"
      variant="outlined"
      title="Удалить фото">
      <app-icon name="trash" [size]="25" style="color: white"/>
    </p-button>
  </div>
</section>