<section class="avatar">
  @if (hasAvatar()) {
    <img [src]="avatarUrl()" alt="User avatar" class="avatar__image">
  } @else {
    {{ userLabel() }}
  }

  <div class="avatar__actions">
    @for (btn of actionButtons; track btn.title) {
      <p-button
        type="button"
        [style]="avatarActionStyle"
        class="flex items-center justify-center"
        severity="contrast"
        variant="outlined"
        (click)="onActionButtonClick(btn.action)"
        [title]="btn.title">
        <app-icon [name]="btn.icon" [size]="25" style="color: white" />
      </p-button>
    }
  </div>
</section>

<app-input-file 
  #avatarFileInput
  accept="image/png,image/jpeg,image/webp"
  (fileSelected)="onFileSelected($event)"
/>