@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';

@import "primeicons/primeicons.css";

@custom-variant dark (&:where([data-mode='dark'], [data-mode='dark'] *));

body {
    color: var(--base-font-color);
    background: linear-gradient(to right, #ffffff, #ece9e6);
}

html[data-mode='dark'] body {
    background: linear-gradient(to right, #000000, #152331);
    color: var(--base-font-color-dark);
}